/* color:#4D5AE5;  Primary Brand  */
/* color:#2E2F42;  Dark*/
/* color:#31D0AA;  Success*/
/* color:#434455;  Text*/
/* color:#8E8F99;  Subtle Text*/
/* color:#E7E9FC;  Accent*/
/* color:#F4F4FD;  Light*/

/* font-family: 'Raleway', sans-serif; */

:root

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo {
  color: #2E2F42;
}
.list{
  list-style: none;
}

.button {
  background-color: #F4F4FD;
  cursor: pointer;

}
.site-nav a{
  color: #2E2F42;
}
.site-nav a:hover {
  color: #434455;
}
.site-nav a:focus {
  color: #4D5AE5;
}

